body {  /* white bg black text */
    background: white;
    color: black;
    padding: 10px;
    font-family: 'NomNa';
}

small {
    color: gray;
}

a {
    color: gray;
    font-weight: bold;
}

a:hover {
    color: black;
}

p {
    line-height: 1.5;
}

@font-face { /* font for rendering Nôm characters */
    font-family: 'NomNa';
    src: url('fonts/NomNaTong.woff') format('woff2'),
    url('fonts/NomNaTong.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.centered-div { /* flex container */
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width:600px;
}

.book-cover {
    width: 300px;
    margin-left: 10px; 
    text-align: center;
}

.caption {
    color:gray;
}

.vertical-column { /* vertical text for CC text */
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: x-large;
    letter-spacing: 4px;
}

.information-padding {
    padding: 30px;
    line-height: 2;
}

.rounded { /* rounded box effect */
    border: 0.8px solid gray;
    border-radius: 10px 10px;
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.content-row { /* content flex container */
    display: flex;
    align-items: flex-start;
    gap: 5px;
}