body {
    background: white;
    color: black;
    padding: 10px;
    font-family: 'NomNa';
}

@font-face {
    font-family: 'NomNa';
    src: url('fonts/NomNaTong.woff') format('woff2'),
    url('fonts/NomNaTong.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.centered-div {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width:600px;
}

.book-cover {
    width: 300px;
    margin-left: 10px; 
    text-align: center;
}

.caption {
    color:gray;
}

.vertical-column {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.information-padding {
    padding: 30px;
    line-height: 2;
}